body {
    background-color: lightblue;
    color: white;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: navy;
}

p {
    color: #000;
}

.box {
    background-image: url(../img/meme.jpg);
    width: 500px;
    margin: 50px;
    padding: 108px 10px;
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: center;
}