body {
    background-color: rgb(172, 230, 248);
    color: rgb(60, 60, 85);
    font-size: 21px;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 70px;
    color: navy;
}

p {
    font: 100px ;
    color: red;
}

a {
    color: blueviolet;
}

a:hover {
    color: brown;
    text-decoration: none;
}

.body-text {
    background-color: rebeccapurple;
    padding: 20px;
}

.body-text p {
    color: white;
}

/* - - - - - - - - - - - - - */

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: armenian;
    /* list-style-image: url(); - image bullet */
    /* list-style-position: outside; - default */
}