* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;

    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    width: 100%;
    background: #23424A;
    color: white;
    padding: 12rem 0;
}

.intro-box {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.content {
    width: 50%;
}

.btn {
    margin-top: 2em;
    text-decoration: none;
    display: inline-block;
    background-color: aqua;
    color: #23424A;
    padding: 1rem 3rem;
    border-radius: 100px;
    font-weight: 900;
}

.btn:hover, .btn:focus {
    opacity: .80;
}