*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
}

.header {
    background-color: #F3EED9;
    padding: 20rem 0;
}

.container {
    margin: 0 auto;
    width: min(50rem, 100%);    
    padding: 2rem;

    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container__text {

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.container__title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #824936;

    margin-top: 0;
}

