*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

img {
    max-width: 100%;
}

.container {
    border: 1px brown solid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.row {
    display: flex;
}

.row > * {
    width: 100%;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

.header {
    background-color: #F3EED9;
    padding: 26rem 0;
}

.box {
    border: 1px brown solid;
    margin: 0 auto;
    width: min(50rem, 100%);    
    padding: 2rem;

    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box__text {

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.box__title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #824936;

    margin-top: 0;
}

.section {
    padding: 5rem 0;
    line-height: 1.5;
}

.one {
    background-color: white;
    color: #222C2A;
}

.one .title {
    color: #824936;
    text-align: center;
}

.one__text {
    text-align: justify;
}

.one__text + .one__text {
    margin-left: 5rem;
}

/* .two {
    background-color: #222C2A;
    color: #F3EED9;
    text-align: justify;
}

.two-item + .two-item {
    margin-left: 5rem;    
}

.img {
    align-self: flex-start;
} */