*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
}

.container {
    border: 1px brown solid;
    max-width: 1500px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.header {
    background-color: #F3EED9;
    padding: 26rem 0;
}

.box {
    border: 1px red solid;
    margin: 0 auto;
    width: min(50rem, 100%);    
    padding: 2rem;

    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box__text {

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.box__title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #824936;

    margin-top: 0;
}

.section-1 {
    background-color: pink;
    padding: 20rem 0;
}